// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="text"]:focus { outline: none; }
body, main {
  max-width: 1920px;
  min-width: 320px;
  margin: 0px;
  background-color: #fafafa;
  cursor: url(asset_path('cursor.png')), auto;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div, section {
  padding: 0px;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.header {
  height: 65px;
  background-color: #0277BD;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-bottom: 45px;
  padding-top: 5px;
}
.box {
  height: 180px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  text-align: center;
  color: #00bcd4;
  padding-top: 78px;
}

.box:active {
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
.box_active {
  background-color: #4dd0e1;
  color: white;
}
.box-container {
  width: 100%;
  text-align: center;
  margin-top: 45px;
}
.logo {
  width: 100%;
  text-align: center;
}
#logo {
  width: 200px;
}
.box-text {
  font-size: 17pt;
}
#shape {
  display: none;
  opacity:0;
}
.header-text {
  color: white;
  font-size: 22pt;
  margin-top: 11px;
}
.header-text:hover {
  color: white;
  text-decoration: none;
}
.header-text:visited {
  color: white;
}
.year {
  display: inline-block;
  font-size: 34pt;
  margin-right: 40px;
}
.month {
  width: 250px;
  height: 80px;
  font-size: 34pt;
  margin-right: 40px;
}
.date {
  width: 140px;
  height: 80px;
  font-size: 40pt;
  border: 0;
  outline: none;
  text-align: center;
}
.line-numeric {
  display: block;
  margin-bottom: 10px;
}
.numeric-keypad {
  margin-top: 35px;
}
.numeric {

  width: 95px;
  height: 95px;
  margin-right: 5px;
  background-color: white;
  display: inline-block;
  padding-top: 20px;
  font-size: 28pt;
  border: 1px solid #01579B;
  color: #0277BD;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  //box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.numeric:active {
  background-color: #01579B;
  color: white;
}
.numeric_delete {

  width: 199px;
  height: 95px;
  margin-right: 5px;
  color: #0277BD;
  display: inline-block;
  padding-top: 24px;
  font-size: 25pt;
  border: 1px solid #01579B;
}
.numeric_delete:active {
  background-color: #01579B;
  color: white;
}
.header-text_right {
  float: right;
  font-size: 28px;

}
.msg-box {
  width: 100%;
  height: 115px;
  text-align: center;
  color: #31708f;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}
.msg-box_date {
  font-size: 28pt;
  margin-top: 16px;
}
.msg-box_text {
  font-size: 13pt;
}
//Модальное окно
#modal_form {
  width: 960px;
  height: 340px; //Рaзмеры дoлжны быть фиксирoвaны
  border-radius: 5px;
  background: #fff;
  position: fixed; // чтoбы oкнo былo в видимoй зoне в любoм месте
  top: 45%; // oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт
  left: 50%; // пoлoвинa экрaнa слевa
  margin-top: -150px;
  margin-left: -460px; // тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =)
  display: none; // в oбычнoм сoстoянии oкнa не дoлжнo быть
  opacity: 0; // пoлнoстью прoзрaчнo для aнимирoвaния
  z-index: 7; // oкнo дoлжнo быть нaибoлее бoльшем слoе
  padding: 45px 10px 20px 10px;
  text-align: center;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;

  display: block;
}
/* Пoдлoжкa */
#overlay {
  z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position:fixed; /* всегдa перекрывaет весь сaйт */
  background-color:#000; /* чернaя */
  opacity:0.8; /* нo немнoгo прoзрaчнa */
  -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
  filter:alpha(opacity=80);
  width:100%;
  height:100%; /* рaзмерoм вo весь экрaн */
  top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
  left:0;

  display:none; /* в oбычнoм сoстoянии её нет) */
}
/* Конец модального окна */
.msg_title {
  font-size: 32px;
}
.msg_text {
  margin-top: 20px;
  font-size: 28px;
}
.popup__btn {

  width: 270px;
  height: 100px;
  margin-right: 5px;
  color: #0277BD;
  display: inline-block;
  padding-top: 0px;
  font-size: 25pt;
  border: 1px solid #01579B;
  background-color: white;
  margin-top: 28px;
}
.popup__btn:active {
  background-color: #01579B;
  color: white;
}
#pageTheme {
  display: none;
  opacity: 0;
}
.theme-line {
  display: block;
}
.theme {
  width: 565px;
  height: 345px;
  border: 1px solid #01579B;
  background-color: white;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  color: #01579B;
}
.theme:active {
  background-color: #01579B;
  color: white;
}
.theme_img {
  width: 100px;
}
#theme-wedding {
  width: 280px;
}
#theme-child {
  width: 440px;
}
#theme-bithday {
  width: 350px;
}
#theme-anniversary {
  width: 530px;
}
.theme-anniversary-title {
  margin-top: 58px;
}
#pageShape {
  display: none;
  opacity: 0;
}
.shape {
  width: 375px;
  height: 270px;
  border: 1px solid #01579B;
  background-color: white;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  color: #01579B;
  padding: 15px;
}
.shape:active {
  background-color: #01579B;
  color: white;
}
.circle {
  background-image: url(asset_path("circle/circle.png"));
  width: 100%;
  height: 195px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.circle_f1 {
  background-image: url(asset_path("circle/circle1withNumber.png"));
  width: 100%;
  height: 380px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.circle_f2 {
  background-image: url(asset_path("circle/circle2withNumber.png"));
  width: 100%;
  height: 380px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.circle_f3 {
  background-image: url(asset_path("circle/circle3withNumber.png"));
  width: 100%;
  height: 380px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.circle_f4 {
  background-image: url(asset_path('circle/circle4withNumber.png'));
  width: 100%;
  height: 380px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.next {
  position: absolute;
  width: 300px;
  height: 110px;
  float: right;
  margin-top: 390px;
  margin-left: 880px;
  font-size: 32pt;
  color: #0277BD;
  padding-left: 60px;
  padding-top: 22px;

  border-radius: 0px 50px 50px 0px;
  border: 1px solid #01579B;
}
.next:active {
  background-color: #01579B;
  color: white;
}

.heart {
  background-image: url(asset_path('heart/heart.png'));
  width: 100%;
  height: 195px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.heart_f1 {
  background-image: url(asset_path('heart/heart1withNumber.png'));
  width: 100%;
  height: 440px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.heart_f2 {
  background-image: url(asset_path('heart/heart2withNumber.png'));
  width: 100%;
  height: 440px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.hexahedron {
  background-image: url(asset_path('hexahedron/hexahedron.png'));
  width: 100%;
  height: 195px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.hexahedron_f1 {
  background-image: url(asset_path('hexahedron/hexahedronWithNumber.png'));
  width: 100%;
  height: 195px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.rectangle {
  background-image: url(asset_path('rectangle/rectangle.png'));
  width: 100%;
  height: 195px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.rectangle_f1 {
  background-image: url(asset_path('rectangle/rectangleWithNumber.png'));
  width: 100%;
  height: 195px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.cloud {
  background-image: url(asset_path('cloud/cloud.png'));
  width: 100%;
  height: 195px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.cloud_f1 {
  background-image: url(asset_path('cloud/cloud1WithNumber.png'));
  width: 100%;
  height: 440px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
.cloud_f2 {
  background-image: url(asset_path('cloud/cloud2WithNumber.png'));
  width: 100%;
  height: 440px;
  background-size: contain;
  background-attachment: inherit;
  background-repeat: no-repeat;
}
#pageFloor {
  display: none;
  opacity: 0;
}
.shapeFloor {
  width: 750px;
  height: 382px;
  background-color: white;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
  color: #01579B;
  padding: 15px;
}
.price_floor {
  font-size: 35pt;
  margin-top: 30px;
  color: #01579B;
}
.floor_number {
  font-size: 70pt;
  margin-top: 8px;
  color: #01579B;
  padding-left: 120px;
}
.less, .more {

  width: 154px;
  height: 110px;
  margin-right: 5px;
  background-color: white;
  display: inline-block;
  padding-top: 35px;
  font-size: 20pt;
  border: 1px solid #01579B;
  color: #0277BD;
  padding-left: 15px;
}
.less:active {
  background-color: #01579B;
  color: white;
}
.more:active {
  background-color: #01579B;
  color: white;
}
.floor_title {
  font-size: 25pt;
  margin-top: 15px;
  color: #01579B;
  padding-left: 5px;
}
.weight_floor {
  font-size: 25pt;
  margin-top: 10px;
  color: #01579B;
}
#pageText {
  display: none;
  opacity: 0;
}
.nextFromFloor {
  /* position: absolute; */
  width: 300px;
  height: 110px;
  float: right;
  margin-top: 35px;
  /* margin-left: 880px; */
  font-size: 32pt;
  color: #0277BD;
  padding-left: 60px;
  padding-top: 22px;
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #01579B;
}
.nextFromFloor:active {
  background-color: #01579B;
  color: white;
}
.page-text {
  text-align: center;
}
.keybord-line {
  display: block;
  width: 100%;
}
.keybord-btn {
  text-transform: uppercase;
  margin-top: 25px;
  width: 85px;
  height: 95px;
  margin-right: 5px;
  background-color: white;
  display: inline-block;
  padding-top: 20px;
  font-size: 28pt;
  border: 1px solid #01579B;
  color: #0277BD;
  display: inline-block;
}
.keybord-btn:active {
  background-color: #01579B;
  color: white;
}
.keybord-btn-space {
  text-transform: uppercase;
  margin-top: 25px;
  width: 360px;
  height: 95px;
  margin-right: 5px;
  background-color: white;
  display: inline-block;
  padding-top: 20px;
  font-size: 28pt;
  border: 1px solid #01579B;
  color: #0277BD;
  display: inline-block;
}
.keybord-btn-space:active {
  background-color: #01579B;
  color: white;
}
.text_on_substrate {
  width: 1130px;
  height: auto;
  font-size: 37pt;
  border: 0;
  outline: none;
  text-align: center;
  margin-top: 25px;
}
#text-msg-box {
  height: 142px;
}
#pageName {
  display: none;
  opacity: 0;
}
#name-msg-box {
  height:137px;
}
#pagePhone {
  display: none;
  opacity: 0;
}
#pageAddress {
  display: none;
  opacity: 0;
}
#pageEnd {
  display: none;
  opacity: 0;
}
.phone {
  width: 440px;
  height: 80px;
  font-size: 36pt;
  border: 0;
  outline: none;
  text-align: center;
  margin-top: 20px;
}
.errorPhone {
  display: none;
  color: red;
  font-size: 20pt;
}
.delivery-container {
  display: none;
  opacity: 0;
}
.msg-box_btn {
  text-transform: uppercase;
  margin-top: 25px;
  width: 360px;
  height: 148px;
  margin-left: 385px;
  background-color: white;
  padding-top: 20px;
  font-size: 28pt;
  border: 1px solid #01579B;
  color: #0277BD;
  display: block;
}
.msg-box_btn:active {
  background-color: #01579B;
  color: white;
}
#textAddreess {
  font-size: 20pt;
}
.btn-msg-container {
  width: 100%;
  text-align: center;
  margin-top: 110px;
}
#order_cancel {
  padding-top: 45px;
}
#order_delivery {
  padding-top: 20px;
}
.address_text_area {
  margin-top: 30px;
  width: 1100px;
  font-size: 24pt;
  resize: none;
  padding: 10px;
}
#pageInfo {
  display: none;
  opacity: 0;
}
#info-msg-box {
  height: 170px;
}
.info-container {
  width: 100%;
  text-align: left;
  padding-left: 270px;
  margin-top: 110px;
  font-size: 27pt;
  color: #2E2F30;
  margin-bottom: 80px;
}