<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Digital Cake</title>

  <link rel="stylesheet" href=<%= asset_path 'bootstrap.min.css'%>>
  <link href=<%= asset_path 'signin.css' %> rel="stylesheet">
</head>

<body>
<%= yield %>
</body>
</html>
